
.pt1 {
	font-family: 'Alegreya Sans';  
	font-size: 300pt;
	margin: 0;
}

span {
	border: solid 1px red;
}

.adjust {
	font-size-adjust: 0.460;
}

.pt2 {
	position: relative;
	margin: 10px;
	width: 900px;
	
}

.left {
	left: 0;
	width: 30%;
	padding: 10px;
	position: absolute;
}

.middle {
	left: 33%;
	width: 30%;
	padding: 10px;
	position: absolute;
}

.right {
	right: 0;
	width: 30%;
	padding: 10px;
	position: absolute;
}

h1 {
	margin: 0;
	font-size: 150pt;
}

.Ale {
	font-family: 'Alegreya Sans';
}

.Lat {
	font-family: 'Lato';
}

.Lor {
	font-family: 'Lora';
}

p {
	font-size: 11px;
	margin-bottom: 30px;
}

.lineOne {
	position: absolute;
	border-bottom: solid 1px red; 
	padding-top: 70px;
	width: 900px;
}

.lineTwo {
	position: absolute;
	border-bottom: solid 1px red; 
	padding-top: 521px;
	width: 900px;
}


